body{
	background-color: #6fc1f0;
	background-image: url('Wp.jpg');
}

.join{
	position:absolute;
	top:10%;
	left:50%;
	transform:translate(-50%,-40%);
	height:40px;
	width:240px ;
	border-radius:4px;
	padding:10px;
}


.logo{
    display:block;
    margin:auto ;
    width:240px;
    height:150px;

}
h1,p{
    margin-top:12px ;
    font-size:30px;
    font-family:Arial;
    text-align:center;
    color:rgb(72, 88, 233) ;
}
.btn{
    border:none;
    outline:none;
    width:240px;
	height:40px;
	margin:auto;
    margin-bottom:20px;
    border-radius: 50px;
    background:linear-gradient(#6837ee,#0d2b7e);
    color:#ddd;
    text-transform:uppercase;
    font-size:12px;
    box-shadow:0 10px 20px rgba(0,0,0,.5);
    transition:color .3s;
    cursor:pointer;
}
.btn:hover{
   background:linear-gradient(#8ba3dd,rgb(88, 220, 224));
   color:rgb(26, 25, 25);
   
}
